body {
  font-family: "calibri", "roya", sans-serif;
}
.data-table__table-container {
  direction: rtl;
  padding: 5vw 5vw 0 0;
}
.data-table__table {
  width: auto;
  text-align: right;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
}
.data-table__header {
  font-weight: 600;
}
.data-table__header-cell {
  width: auto;
  padding: 16px;
}
.data-table__header-row {
  background-color: #adb5bd;
  position: relative;
}
.data-table__header-row:hover,
.data-table__row:hover {
  filter: brightness(85%);
}
.data-table__row .data-table__cell--numeric,
.data-table__header-row .data-table__header-cell--numeric {
  text-align: left;
}
.data-table__cell {
  border-top: 1px solid gray;
  padding: 16px;
}
.data-table__row:nth-child(odd) {
  background: #ced4da;
}
.data-table__row:nth-child(even) {
  background: #e9ecef;
}
.data-table__row .mdc-data-table__cell__icon,
.data-table__header-cell__icon,
.data-table__cell:first-child {
  text-align: center;
}
.data-table__cell__icon i {
  color: black;
}
.data-table__row i:hover {
  color: #495057;
  cursor: pointer;
}
